---

// IMPORTS ASTRO ATOMS
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

---
<button class="flex items-center gap-2 text-xs md:text-sm font-graphik">
    <slot/>
    <div class="size-4">
        <PictureInternalContain
            alternative_text="top right arrow icon"
            source="/icons/top-right-arrow.svg"
        />
    </div>
</button>
