---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import ServiceCard from "@/components/home/services/card/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/heading/two/index.astro"

const {

    CDN,
    data,
    PROJECT,
    services

} = Astro.props
---
<section class="py-16 bg-cover" style=`background-image: url(${ CDN + PROJECT + "/" + data.cover + "?quality=80&width=1200" })`>
    <Container>
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section class="grid md:grid-cols-4 gap-4 pt-4">
            {

                services.map( ( value, index ) => {

                    return(
                        <div class={` ${ index < 2 ? "md:col-span-2" : "" } ${ index === 2 ? "md:col-span-4" : "" } `}>
                            <ServiceCard
                                alternative_text={ value.title }
                                button_link={ value.button_link }
                                button_text={ value.button_text }
                                CDN={ CDN }
                                description={ value.description }
                                icon_alternative_text={ value.title }
                                icon_source={ value.icon_image }
                                index={ index }
                                PROJECT={ PROJECT }
                                source={ value.cover }
                                title={ value.title }
                            />
                        </div>
                    )

                })

            }
        </section>
    </Container>
</section>
