---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import ServiceCard from "./card.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/heading/two/index.astro"

const {

    data,
    services,
    CDN_LINK,
    PROJECT

} = Astro.props
---
<section class="py-16 bg-cover" style=`background-image: url(${ CDN_LINK + PROJECT + "/" + data.cover + "?quality=80&width=1200" })`>
    <Container>
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section class="grid md:grid-cols-4 gap-4 pt-4">
            {

                services.map( ( value, index ) => {

                    return(
                        <div class={` ${ index < 2 ? "md:col-span-2" : "" } ${ index === 2 ? "md:col-span-4" : "" } `}>
                            <ServiceCard
                                alt={ value.title }
                                button_link={ value.button_link }
                                button_text={ value.button_text }
                                description={ value.description }
                                icon_alt={ value.title }
                                icon_src={ value.icon_image }
                                src={ value.cover }
                                title={ value.title }
                                index={ index }
                                CDN_LINK={ CDN_LINK }
                                PROJECT={ PROJECT }
                            />
                        </div>
                    )

                })

            }
        </section>
    </Container>
</section>
