---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import SecondaryButton from "@/atoms/button/secondary/index.astro"
---
<section class="md:hidden bg-white py-4 fixed bottom-0">
    <Container>
        <section class="grid grid-cols-2 gap-6">
            <div>
                <p class="text-sm font-graphik_medium text-mc_black">Interested in working with Us?</p>
                <p class="text-xs font-graphik text-mc_black">We are ready for the ramp up</p>
            </div>
            <SecondaryButton>Let's Talk</SecondaryButton>
        </section>
    </Container>
</section>
