---
// IMPORTS ASTRO COMPONENTS
import HeaderMobile from "./mobile-header/index.jsx"

// IMPORTS ASTRO ATOMS
import SecondaryButton from "@/atoms/button/primary/index.astro"
import Link from "@/atoms/link/index.astro"

import { getCollection } from "astro:content"

let header_data = await getCollection("header")
header_data = header_data.sort((a, b) => a.data.order - b.data.order)
---
<header class="h-16 hidden md:flex items-center fixed top-10 z-[100] w-full bg-white">
    <nav class="flex items-center justify-between h-full w-full container max-w-8xl mx-auto">
        <section class="flex items-center gap-16">
            <div class="w-32 aspect-[3/1]">
                <a href="/" aria-label="logo">
                    <img
                        src="/logo/header-logo.svg"
                        alt=""
                        class="w-32 aspect-[3/1] object-contain"
                    />
                </a>
            </div>
            <div class="flex gap-10 items-center">
                <ul class="flex gap-6">
                    {

                        header_data.map( ( item ) => {

                            return (
                                <li class="font-medium font-graphik text-sm flex items-center gap-1 group cursor-pointer">
                                    <a href={ "/" + item.data.slug } aria-label={"explore " + item.data.title }>{ item.data.title }</a>
                                    {

                                        item.data.has_dropdown &&
                                        <div>
                                            <img
                                                src="/icons/dropdown.svg"
                                                class="w-5 h-5"
                                                alt="dropdown menu icon"
                                            />
                                            <div class="hidden group-hover:block group-hover:flex-col absolute bg-white left-0 z-20 top-10 w-full gap-2">
                                                {

                                                    item.data.slug === "services" &&

                                                    <div class="grid grid-cols-4 gap-x-10 gap-y-14 px-10 pt-16 pb-12">
                                                    {

                                                        item.data.items.map( ( sub_item, sub_item_index ) => {

                                                            return(
                                                                <div class="p-5 rounded hover:bg-blue-50/50">
                                                                    <Link href={ "/" + item.data.slug + "/" + sub_item.slug } aria_label={ "explore" + sub_item.title }>
                                                                        <div class="space-y-4">
                                                                            <div class="flex gap-4">
                                                                                <div>
                                                                                    <img
                                                                                        src={ "/icons/" + sub_item.src }
                                                                                        class="w-6 h-6"
                                                                                        alt=""
                                                                                    />
                                                                                </div>
                                                                                <p class="font-graphik_medium capitalize tracking-wide">{ sub_item.title }</p>
                                                                            </div>
                                                                            <p class="text-xs font-graphik text-mc_dark_gray">{ sub_item.description }</p>
                                                                        </div>
                                                                    </Link>
                                                                </div>
                                                            )

                                                        })

                                                    }
                                                </div>

                                                }
                                                {

                                                    item.data.slug === "industries" &&

                                                    <section class="grid grid-cols-2 gap-10 pt-16 pb-4">
                                                        <div class="pl-10 space-y-6">
                                                            <p class="font-graphik_medium text-2xl text-mc_black">Industries</p>
                                                            <div class="grid grid-cols-2 gap-4">
                                                                {

                                                                    item.data.items.map( ( sub_item, sub_item_index ) => {

                                                                        return(
                                                                            <div class="p-2 rounded hover:bg-zinc-50">
                                                                                <Link href={ "/" + item.data.slug + "/" + sub_item.slug } aria_label={ "explore" + sub_item.title }>
                                                                                    <div class="flex gap-4">
                                                                                        <div>
                                                                                            <img
                                                                                                src={ "/icons/" + sub_item.src }
                                                                                                class="w-6 h-6"
                                                                                                alt=""
                                                                                            />
                                                                                        </div>
                                                                                        <p class="text-sm font-graphik_medium capitalize tracking-wide">{ sub_item.title }</p>
                                                                                    </div>
                                                                                </Link>
                                                                            </div>
                                                                        )

                                                                    })

                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="pt-6">
                                                            <p class="font-graphik_medium text-2xl text-mc_black">Recent Publications</p>
                                                            <div class="pt-6">
                                                                <Link href="/publications/navigating-financial-prudence-a-new-lens-for-marketing-strategies" aria_label="explore financial prudence">
                                                                    <div class="grid grid-cols-3 gap-4 border border-zinc-200 rounded-md p-6">
                                                                        <div class="w-full h-full bg-zinc-200">
                                                                            <img
                                                                                src="/images/financial-prudence.png"
                                                                                alt=""
                                                                                class="w-full h-full object-cover"
                                                                            />
                                                                        </div>
                                                                        <div class="col-span-2 space-y-2">
                                                                            <p class="font-graphik_medium text-sm text-mc_black">Navigating Financial Prudence: A New Lens for Marketing Strategies</p>
                                                                            <p class="text-light font-merriweather text-sm text-mc_black leading-relaxed">In the dynamic realm of business, the first response to financial crunches often revolves around slashing marketing budgets. However, this reflex may not always</p>
                                                                        </div>
                                                                    </div>
                                                                </Link>
                                                                <Link href="/publications/chatgpt-market-share" aria_label="explore chatgpt">
                                                                    <div class="grid grid-cols-3 gap-4 border border-zinc-200 rounded-md p-6 mt-3">
                                                                        <div class="w-full h-full bg-zinc-200">
                                                                            <img
                                                                                src="/images/chatgpt.jpg"
                                                                                alt=""
                                                                                class="w-full h-full object-cover"
                                                                            />
                                                                        </div>
                                                                        <div class="col-span-2 space-y-2">
                                                                            <p class="font-graphik_medium text-sm text-mc_black">ChatGPT and Bing Market Share jumps up to 7%</p>
                                                                            <p class="text-light font-merriweather text-sm text-mc_black leading-relaxed">Bing and ChatGPT - surpass a significant 7% market share in global search queries, a unique opportunity is unfolding for advertisers.</p>
                                                                        </div>
                                                                    </div>
                                                                </Link>
                                                            </div>
                                                        </div>
                                                    </section>

                                                }
                                                <div class="bg-mc_light_pink py-6">
                                                    <Link href="/career">
                                                        <p class="text-mc_orange font-graphik text-center text-sm">Looking for a new career? Get in touch</p>
                                                    </Link>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </li>
                            )

                        })

                    }
                </ul>
            </div>
        </section>
        <section class="flex items-center gap-8 relative z-50">
            <div>
                <p class="text-xs text-mc_black">Sales Hotline (worldwide)</p>
                <p class="font-graphik text-mc_black">+498926200255</p>
            </div>
            <div class="flex justify-self-end w-fit">
                <SecondaryButton>Let's Talk</SecondaryButton>
            </div>
        </section>
    </nav>
</header>
<HeaderMobile
    client:load
/>
