---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/image"

const {

    alt,
    src

} = Astro.props
---
<picture>
    <source media="(max-width: 375px)" srcset={ CDN_LINK +  src + "?height=300&quality=" + IMAGE_QUALITY } />
    <source media="(max-width: 640px)" srcset={ CDN_LINK +  src + "?height=400&quality=" + IMAGE_QUALITY } />
    <div class="w-full aspect-square bg-zinc-400">
    <img
        src={ CDN_LINK +  src + "?height=650&quality=" + IMAGE_QUALITY }
        alt={ alt }
        class="w-full h-full object-cover"
    />
    </div>
</picture>
