---
// IMPORTS ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoWhiteCenter from "../../../atoms/heading/two/white/center/index.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/image"

const { data } = Astro.props

const images = data.images.sort(( a,b ) => a.order -b.order )
---
<section class="bg-mc_black py-10">
    <Container>
        <HeadingTwoWhiteCenter>{ data.title }</HeadingTwoWhiteCenter>
        <div class="grid md:grid-cols-4">
            {

                images.map( ( value ) => {

                    return(
                        <div class="flex justify-center">
                            <div class="w-32 aspect-[3/2]">
                                <img
                                    src={ CDN_LINK + value.file + "?quality=" + IMAGE_QUALITY }
                                    alt=""
                                    class="w-full h-full"
                                />
                            </div>
                        </div>
                    )

                })

            }
        </div>
    </Container>
</section>
