---
// IMPORTS ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoWhiteCenter from "../../../atoms/heading/two/white/center/index.astro"

const { data } = Astro.props
// const images = data.images.sort(( a,b ) => a.order -b.order )
const image = Array(18).fill({

    file: "/client-1.png"

})
---
<section class="bg-mc_black py-10">
    <Container>
        <HeadingTwoWhiteCenter>{ data.title }</HeadingTwoWhiteCenter>
        <div class="grid md:grid-cols-4">
            {

                image.map( ( value ) => {

                    return(
                        <div class="flex justify-center">
                            <div class="w-32 aspect-[3/2]">
                                <img
                                    src={ value.file }
                                    alt=""
                                    class="w-full h-full"
                                />
                            </div>
                        </div>
                    )

                })

            }
        </div>
    </Container>
</section>
