---
// IMPORTS ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingFourCenterBold from "../../../atoms/heading/four/center/bold/index.astro"
import ParagraphSmallCenter from "../../../atoms/paragraph/small/center/index.astro"
import PrimaryButton from "../../../atoms/button/primary/index.astro"
import SecondaryButton from "../../../atoms/button/secondary/index.astro"

const data = {

    title: "Start working with Us",
    description: "Let's get in touch to find out how we could support you in the future.",
    button_one_text: "Contact Sales",
    button_two_text: "Let's Talk",

}
---
<Container>
    <section class="space-y-2 pb-10">
        <HeadingFourCenterBold>{ data.title }</HeadingFourCenterBold>
        <ParagraphSmallCenter>{ data.description }</ParagraphSmallCenter>
        <div class="flex justify-center gap-2 pt-4">
            <PrimaryButton>{ data.button_one_text }</PrimaryButton>
            <SecondaryButton>{ data.button_two_text }</SecondaryButton>
        </div>
    </section>
</Container>
