---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingFourCenterBold from "@/atoms/heading/four/center/bold/index.astro"
import ParagraphSmallCenter from "@/atoms/paragraph/small/center/index.astro"
import PrimaryButton from "@/atoms/button/primary/index.astro"
import SecondaryButton from "@/atoms/button/secondary/index.astro"

const { data } = Astro.props
---
<Container>
    <section class="space-y-2 pb-10">
        <HeadingFourCenterBold>{ data.title }</HeadingFourCenterBold>
        <ParagraphSmallCenter>{ data.description }</ParagraphSmallCenter>
        <div class="flex justify-center gap-2 pt-4">
            <PrimaryButton>{ data.button_one_text }</PrimaryButton>
            <SecondaryButton>{ data.button_two_text }</SecondaryButton>
        </div>
    </section>
</Container>
