---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import FooterHeading from "@/atoms/footer/heading/index.astro"
import LetsTalk from "@/components/common/lets-talk/index.astro"
import ListItem from "@/atoms/footer/list-item/index.astro"

// IMPORTS ASTRO ATOMS
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// IMPORTS FOOTER COLLECTION
import { getCollection } from 'astro:content'

let footer_column_three = await getCollection('footer-column-three')
footer_column_three = footer_column_three.sort((a, b) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

let footer_column_four = await getCollection('footer-column-four')
footer_column_four = footer_column_four.sort((a, b) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

import { frontmatter as footerColumnFour } from "@/content/footer-titles/colomn-four-title.md"
import { frontmatter as footerColumnThree } from "@/content/footer-titles/colomn-three-title.md"

---
<footer class="bg-mc_light_gray pt-10 2xl:pt-20 pb-32 2xl:pb-40 md:px-60">
    <Container>
        <section class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <section class="grid grid-cols-1 md:grid-cols-3 gap-10">
                <section class="flex justify-center">
                    <div class="h-5 w-full">
                    <PictureInternalContain
                        alternative_text="footer logo"
                        source="/logo/footer-logo.svg"
                    />
                </div>
                </section>
                <section class="flex justify-center col-span-2">
                    <div class="h-full md:h-80 w-72">
                        <PictureInternalContain
                            alternative_text="awards mediacharge"
                            source="/images/awards.png"
                        />
                    </div>
                </section>
            </section>
            <section class="grid grid-cols-1 md:grid-cols-2">
                <section class="flex flex-col gap-6">
                    <FooterHeading>{ footerColumnThree.title }</FooterHeading>
                    <ul class="space-y-4">
                        {

                            footer_column_three.map( ( value ) => {

                                return(
                                    <ListItem href={ value.data.link } aria_label={ value.data.title }>{ value.data.title }</ListItem>
                                )

                            })

                        }
                    </ul>
                </section>
                <section class="flex flex-col items-center md:items-start gap-6 pt-10 md:pt-0">
                    <FooterHeading>{ footerColumnFour.title }</FooterHeading>
                    <ul class="space-y-4">
                        {

                            footer_column_four.map( ( value ) => {

                                return(
                                    <ListItem href={ value.data.link } aria_label={ value.data.title }>{ value.data.title }</ListItem>
                                )

                            })

                        }
                    </ul>
                </section>
            </section>
        </section>
    </Container>
</footer>
<LetsTalk />
